body {
    margin: 0px;
    padding: 0px;
}
form {
    background: #eee;
    padding: 10px 5px 10px 5px;
    text-align: right;
    border-bottom: 1px solid #ddd;

}
input[type="text"], input[type="password"], button {
display: inline-block;
padding: 10px;
border: solid 1px #ddd;
border-radius: 5px;
margin-right: 5px;
outline: none;
}
input[type="text"]:focus, input[type="password"]:focus, button:focus {
    border: 1px solid #EC576B;
    box-shadow: 0 6px 6px -6px #777; 
}
button {
    background: #EC576B;
    color: ghostwhite;
    margin-right: 0px;
}
button:hover {
    background: rgb(240, 50, 76);
    color: ghostwhite;
    cursor: pointer;
}