html, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container {
    width: 960px;
    margin: auto;
    background: #ddd;
    border: 1px solid grey;
}
header {
    padding: 20px;
    color: #eee;
}
header, footer {
    background: gray;
}
.side {
    float: left;
    width: 150px;
}
.side ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.side ul li a {
    display: block;
    padding: 10px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid gray;
}
.side ul li a:hover {
    color: #eee;
    background: gray;
}
.main {
    margin-left: 150px;
    background: #eee;
    padding: 20px;
} 
.main h1 {
    margin-top: 0px;
}
.main p {
    margin: 0px 0px 10px 0px;
}
footer {
    clear: both;
    color: #eee;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
footer .love{
    color: palevioletred;
}
@media only screen and (max-width: 768px) {
    /* Smaller screen code here */
}    
    .container {
        width: 100%;
    }
    header {
        text-align: center;
    }
    .side {
        float: none;
        width: 100%;
        text-align: center;
    }
    .side ul li {
        display: inline-block;
    }
    .side ul li a {
        border: none;
        padding: 10px;
    }
    .main {
        margin-left: 0px;
    }
    .main p {
        text-align: justify;
    }